:root {
  --text-color: #ffffff;
  --bg-color: #010319;
  --accent-color: #CBACF9;

  --font-primary: 'Helvetica', sans-serif;
  --font-secondary: 'Monrepo', sans-serif;
  --font-tertiary: 'Inter', sans-serif;

  --size-xl: 40px;
  --size-lg: 24px;
  --size-md: 22px;
  --size-sm: 20px;
  --size-xs: 18px;
  --size-xxs: 16px;
  --size-xxxs: 14px;
}
